@import '../_variables'
@import '../_mixins'

html.{NS}

	#epilogue

		h1

			$width  = 200px
			$height = 77px

			background: none
			top: 43.5%
			left: 50%
			cursor: pointer
			remify(width, $width)
			remify(height, $height)
			remify(margin-top, -($height/2))
			remify(margin-left, -($width/2))


		h2
			top: 31.7%
			width: 100%
			text-align: center
			font-size: 14px
			hide()
			remify(letter-spacing, 5px)

		.paragraphs

			$width  = 460px
			$height = 400px

			top: 52.8%
			left: 50%
			text-align: center
			remify(width, $width)
			remify(margin-left, -($width/2))

			p
				remify(margin-bottom, 22px)
				remify(letter-spacing, 2px)

			span
				opacity: 0
				pointer-events: none

			dt, dd
				display: inline-block
				remify(width, 200px)
				// background-color: rgba(255, 0, 0, 0.4)

			dt
				text-align: right
				remify(padding-right, 15px)

			dd
				text-align: left
				font-weight: bold
				remify(padding-left, 15px)

		.social

			$width  = 460px
			$height = 400px

			top: 74%
			left: 50%
			text-align: center
			font-size: 25px
			hide()
			remify(width, $width)
			remify(margin-left, -($width/2))

			// opacity: 1 !important
			// visibility: inhertit !important

			li
				display: inline-block
				remify(margin, 0 10px)
				transform: scale(0.6)

				a
					color: lighten(black, 50%)
					display: inline-block
					transition: all 0.2s ease-in
					width: 50px
					height: @width

					&:hover
						color: white

					&.facebook
						background-image: url('/img/ui/facebook.png')

						&:hover
							background-image: url('/img/ui/facebook.gif')

					&.twitter
						background-image: url('/img/ui/twitter.png')

						&:hover
							background-image: url('/img/ui/twitter.gif')

					&.googleplus
						background-image: url('/img/ui/google.png')

						&:hover
							background-image: url('/img/ui/google.gif')