Options +FollowSymlinks
RewriteEngine on

DirectoryIndex index.php index.html

# if its not a static resource
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.

# rewrite to index
RewriteRule (.*) index.html?path=$1 [L]