@import 'nib'
@import '_variables'

global-reset()

html.{NS}
	
	font-size: 62.5%

	global-reset()

	*
		box-sizing: border-box
		-webkit-font-smoothing: antialiased
		
	.cf
		clearfix()
	
	body
		background: black
		overflow: hidden

	img
		max-width: 100%