// Namespace
NS ?= 'hires_void'

// Fonts

$font-family    	?= "EB Garamond", sans-serif
$header-font-family ?= "Montserrat"
$base-font-size     ?= 14px
$h1-font-size       ?= 10px
$h2-font-size       ?= 20px
$h3-font-size       ?= 30px
$h4-font-size       ?= 10px
$h5-font-size       ?= 10px
$h6-font-size       ?= 10px

// Colors

$base-color ?= white
$blue 		?= #0bfdfd

// Credits
$credits-color ?= white
$dash-gray 	   ?= lighten(black, 60%)


rupture.hd-cutoff      = 1440px
rupture.desktop-cutoff = 1280px
rupture.tablet-cutoff  = 1025px
rupture.mobile-cutoff  = 767px

rupture.base-font-size = $base-font-size
rupture.scale 	       = 0 (rupture.mobile-cutoff) rupture.tablet-cutoff rupture.desktop-cutoff rupture.hd-cutoff