
// Core
@import '_reset'
@import '_fonts'
@import '_layout'
@import '_dev'
@import '_navigation'
@import '_unsupported'
@import '_konami'

// Scenes
@import 'scenes/_scene'
@import 'scenes/_home'
@import 'scenes/_epilogue'
@import 'scenes/_chapter'

.disable
	// background-color: red
	cursor: pointer
	pointer-events: none