.section(id="notfound", class="layer layer-1")

	.content

		h1(class="hi_res layer layer-1")

		.message.layer

			img(src="#{locals.base_path}/img/ui/404.jpg")

			h2 #{dictionary.get('notfound_title')}